qqqqqqsrc/Inseerrtion/Resources/ThumbImage.png
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.dll
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.pdb
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.dll
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.pdb
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.dll
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.pdb
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.dll
src/Inseerrtion/bin/Debug/netstandard2.0/Inseerrtion.pdb
src/Inseerrtion/obj/Debug/netstandard2.0/Inseerrtion.AssemblyInfo.cs
src/Inseerrtion/obj/Debug/netstandard2.0/Inseerrtion.AssemblyInfoInputs.cache
src/Inseerrtion/obj/Debug/netstandard2.0/Inseerrtion.csproj.FileListAbsolute.txt
src/Inseerrtion/obj/Debug/netstandard2.0/Inseerrtion.dll
src/Inseerrtion/obj/Debug/netstandard2.0/Inseerrtion.pdb
src/Inseerrtion/obj/Debug/netstandard2.0/Inseerrtion.sourcelink.json
